{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Employee list</h1>
        <a href="{{ path('app_employee_save') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employeeList %}
                <tr>
                    <td>
                        {# TODO as twig extension and compare by const #}
                        {% if employee.gender == 1 %}
                            <i class="fa-solid fa-venus text-danger"></i>
                        {% elseif employee.gender == 2 %}
                            <i class="fa-solid fa-mars text-primary"></i>
                        {% else %}
                            <i class="fa-solid fa-mars-and-venus"></i>
                        {% endif %}

                        {{ employee.name }}</td>
                    <td>{{ employee.age }}</td>
                    <td>
                        <a href="{{ path('app_employee_save', {'id': employee.id}) }}" class="btn btn-outline-secondary">Edit</a>
                        <a href="javascript://" class="btn btn-outline-danger js_DeleteEmployee" data-id="{{ employee.id }}" data-alert-message="Are you sure?"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-12">
                <canvas id="chartAgeBasic" width="400" height="250"></canvas>
            </div>
            <div class="col-12">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>group</td>
                                <td>%</td>
                            </tr>
                        </thead>
                        <tbody  id="chartAddInfo">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
