{% extends 'base.html.twig' %}

{% block title %}Save EmployeeController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if employee.id == null %}
            <h1>Add Employee</h1>
        {% else %}
           <h1>Update {{ employee.name }}</h1>
        {% endif %}

        <a href="{{ path('app_employee') }}" class="btn btn-primary">Back to the list</a>

        {{ form(form) }}

    </div>
{% endblock %}
