<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="message">
                        {% for label, messages in app.flashes(['success', 'warning', 'info', 'danger', 'notice']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }} {% if label == 'success' %}✅{% endif %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                {% block body %}{% endblock %}

            </div>
        </div>



    </body>
</html>
